@import url('./variables.css');

*,
*::before,
*::after {
    box-sizing: border-box;
}

h2 {
    font-family: "Cantarell", Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 1rem;
    text-transform: uppercase;
    color: #113340;
    background-color: rgb(205, 215, 215);
    letter-spacing: 2px;
    font-weight: bold;
    max-width: 100%;
    margin: 20px 20px;
    padding: 10px;
}

.hiking_img {
    background-color: rgb(205, 215, 215);
    display: flex;
    align-items: center;
    height: auto;
    margin: 20px 20px;    
    width: 100%;
    height: auto;
    width: calc(100% - 40px);
}

.writing {
    background-color: rgb(205, 215, 215);
    font-size: 1rem;
    padding: 20px 30px;
    margin: 0 20px 20px 20px;
}

@media (min-width: 700px) {
    h2 {
        font-size: 1.3rem;
        padding: 30px;
        margin: 20px 50px;
        border: solid 10px var(--dark-blue);
    }

    .hiking_img {
        margin: 20px 50px;
        border: solid 10px var(--dark-blue);
        width: calc(100% - 100px);
    }

    .writing {
        font-size: 1.1rem;
        padding: 50px 100px;
        margin: 50px;
        border: solid 10px var(--dark-blue);
    }
}


@media (min-width: 1120px) {
    h2 {
        margin: 20px 100px;
    }
    .hiking_img {
        margin: 20px 100px;
         width: calc(100% - 200px);
    }

    .writing {
        margin: 20px 100px;
    }
}

