.heading-cart {
  position: relative;
  background-color: var(--dark-blue);
  color: var(--yellow);
  font-size: 1.4rem;
  text-decoration: underline;
  width: 50%;
  font-weight: bold;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 20px;
}