@import url('./variables.css');

*,
*::before,
*::after {
    box-sizing: border-box;
}

#cart-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 100%;
  margin: 0 20px; 
  gap: 5px;
}

.cart-jacket {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  padding: 15px;
  border: 5px solid var(--dark-blue);
  background-color: var(--white);
}

.cart-jacket h4 {
  font-size: 1.1rem;
  font-weight: 800;
  margin-bottom: 10px;
  text-align: center;
}

.jacket-price,
.jacket-size {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1rem;
   padding: 5px;
   font-weight: 600;
   color: var(--dark-blue);
   background-color: var(--light-grey);
   margin: 10px;
}

#cart-total {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 20px;
  border: solid 5px var(--dark-blue);
  padding: 10px;
}

#total-price {
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: underline;
}

.cart-jacket {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  padding: 15px;
  border: 5px solid var(--dark-blue);
}

.cart-jacket img {
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
}

.cart-jacket p {
  color: var(--dark-blue);
}


#cart-count-container {
  font-size: 1.2rem;
  color: #d9d9d9;
}

#cart-count {
  color: var(--yellow);
  font-weight: bold;
}

button {
  font-size: 1.2rem;
  background-color: var(--dark-blue);
  color: var(--yellow);
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;

}

button:hover {
  background-color: var(--dark-blue);
  color: var(--yellow);
}

button:active {
  background-color: var(--dark-white);
  color: var(--dark-blue);
}

.container {
  max-width: 100%;
  margin: 20px 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: var(--light-grey);
  border: solid 4px var(--dark-blue);
}

.shipping-info {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-size: 1rem;
  font-weight: 600;
}

input {
  padding: 10px;
  font-size: 1rem;
  border: solid 5px var(--dark-blue);
}

#form-container {
  width: 100%;
  margin: 20px auto;
}

@media (min-width: 600px) {
  #cart-container {
    grid-template-columns: repeat(3, 1fr);
    margin: 0 20px; 
 }

  #total-label {
    margin-left: 100px;
  }

  .buy-now-button {
    margin: 20px 90px;
    width: calc(100% - 180px);
  }
}

@media (min-width: 700px) {
  #cart-container {
    margin: 20px 50px;
    gap: 10px;
  }

  #cart-total {
    margin: 20px 50px;
  }

  .container {
    margin: 20px 50px;
  }
}

@media (min-width: 880px) {
  #cart-container {
    grid-template-columns: repeat(4, 1fr);
 }
}

@media (min-width: 1120px) {
  #cart-container {
    margin: 20px 100px;
 }

  .container {
    margin: 20px 100px;
  }

  #cart-total {
    margin: 20px 100px;
  }

  .checkout-button {
    margin: 20px 170px;
    width: calc(100% - 340px);
  }

  #total-label {
    margin-left: 170px;
  }
}