.heading-women {
    position: relative;
    background-color: var(--dark-blue);
    color: var(--yellow);
    font-size: 1.4rem;
    text-decoration: underline;
    width: 50%;
    font-weight: bold;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 20px;
}

.jacket-data-container {
  display: flex;
  flex-direction: column;
  border: 5px solid var(--dark-blue);
  border-radius: 5px;
  margin: 10px 10px;
  padding: 10px;
  background-color: var(--white);
}

.jacket-data-container img {
  width: calc(100% - 80px);
  margin: 10px 20px;
  height: auto;
  display: block;
}

.jacket-data-container h2 {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 800;
  text-align: center;
  text-decoration: underline;
}

.jacket-data-container .jacket-price {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--yellow);
  background-color: var(--dark-blue);
  margin: 0 50px 40px 50px;
}

.jacket-data-container p {
  font-family: "Alumni sans", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.1rem;
}

@media (min-width:400px) {
  .slogan {
      max-width: 100%;
      height: 49px;
      width: calc(100% - 40px);
      margin: 20px 20px;
  }

  #jacket-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(6, auto);
      justify-content: center;
      width: 100%;
      height: 100%;
      margin: 10px;
      width: calc(100% - 40px);
      gap: 15px;
      box-sizing: border-box;
  }

  .jacket-data-container {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
  }

  .jacket-data-container img {
      width: 100%;
      max-width: 230px;
      height: auto;
      margin: 5px;
      object-fit: cover;
      box-sizing: border-box;
      align-items: center;
      justify-content: center;
  }
} 

@media (min-width:620px) {
  #jacket-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, auto);  
      margin-bottom: 20px;
  }   

  .jacket-data-container img {
      justify-content: center;
      align-items: center;
  }
}

@media (min-width:1120px) {
  #jacket-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, auto);  
  } 

  .jacket-data-container img {
      justify-content: center;
      align-items: center;
  }
}

